<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SourceFolder" value="D:\TOOLDATA"/> <!--Source Folder of BIN/TDF dump files-->
    <add key="DestinationFolder" value="D:\TOOLDATA"/> <!--Destination Folder to copy files-->
    <add key="ChannelGroupFilters" value="PHM-ALL"/> <!--Add all channel groups separated by comma-->
    <add key="DestinationFormat" value="CSV"/> <!--ASCII is another format available-->
  </appSettings>
</configuration>